<div class="container">
    <h1>Book Details</h1>
    <div class="book-details">
        <div class="book-card">
            {{#if book.img}}
            <img src="{{book.img}}" alt="{{book.title}}" class="book-info">
            {{/if}}
            <div class="book-info">
                <h2>{{book.title}}</h2>
                {{#if book.author}}
                <p class="author">by {{book.author}}</p>
                {{/if}}
                {{#if book.publishedDate}}
                <p class="published">Published: {{book.publishedDate}}</p>
                {{/if}}
                {{#if book.genre}}
                <p class="genre">Genre: {{book.genre.join ', '}}</p>
                {{/if}}
                {{#if book.synopsis}}
                <p class="synopsis">Synopsis: {{book.synopsis}}</p>
                {{/if}}
            </div>
        </div>
        <div class="book-club-form-container">
            <h2>Create a Book Club</h2>
            <form action="/bookclubs/works/{{id}}/create" method="POST" class="book-club-form">
                <input type="hidden" name="bookId" value="{{id}}">
                <div class="form-group">
                    <input type="text" name="clubName" placeholder="Enter club name" required>
                </div>
                <div class="form-group">
                    <input type="text" name="description" placeholder="Describe Book Club" required>
                </div>
                <div class="form-group">
                    <button type="submit">Create Book Club</button>
                </div>
            </form>
        </div>
    </div>
</div>
