

<h1>Discussion - {{discussion.book.title}}</h1>

    <div class="book-info">
        <img src="{{discussion.book.img}}" alt="Book Cover" width="150" height="225">
        <h2>{{discussion.book.title}}</h2>
        <p>by {{discussion.book.author}}</p>
    </div>

    {{#each discussion.threads}}
    <div class="thread">
        <h3>{{title}}</h3>
        <p>{{content}}</p>

        {{#each comments}}
        <div class="comment">
            <span class="comment-author">{{createdBy.username}}:</span>
            <p>{{text}}</p>
        </div>
        {{/each}}

        <form class="comment-form">
            <textarea placeholder="Add a comment..."></textarea>
            <button type="submit">Post Comment</button>
        </form>
    </div>
    {{/each}}