<h1>Book List</h1>
<h2>Results for: {{searchTerm}}</h2>
<a href="/">Search</a>

<div class="book-listing">
  {{#each books}}
    <div class="book">
      <a href="/book{{this._id}}" class="book-link">
        <img src="{{#if this.img}}{{this.img}}{{else}}../public/no_image.jpg{{/if}}" alt="Book Cover" class="book-image">
        <h3>{{this.title}}</h3>
      </a>
    </div>
  {{/each}}
</div>
