




 <h1>User Information</h1>

<div class="user-info">
    <div class="info-item">
        <strong>First Name:</strong> {{user.firstName}}
    </div>
    <div class="info-item">
        <strong>Last Name:</strong> {{user.lastName}}
    </div>
    <div class="info-item">
        <strong>Email:</strong> {{user.email}}
    </div>
    <div class="info-item">
        <strong>Username:</strong> {{user.username}}
    </div>
    <div class="info-item">
        <strong>Joined Date:</strong> {{formatDate user.joinedDate}}
    </div>
</div>