<h1 class="profile-name">{{user.first_name}}'s Profile</h1>

<div class="profile-container">
    <div class="profile-section">
        <h2>User Information</h2>
        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Username: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
        <p>Joined: {{user.joined_date}}</p>
        <p>Favorite Professor: Patrick Hill <3</p>
    </div>
</div>
